@mixin prefix($command, $val) {
  #{$command}: $val;
  -moz-#{$command}: $val;
  -webkit-#{$command}: $val;
}
@media screen and (min-width: 790px){
  #p5{
    @keyframes p5{
      0%{
        margin-left: -100%;
        opacity: 0;
      }
      80%{
        opacity: 1;
      }
    }
      .p5{
        @include prefix(animation, p5 1s);
      }
      .text{
        padding: 1.5em;
        position: absolute;
        width: 40%;
        left: 50%;
        top: 25%;
      }      
  }

  .section-1-4{
    width: 4vw;
    height: 40vh;
    margin: 30vh 0 0 13vw;
    background: #ddd;
  }
  .section-5-4{
    width: 29vw;
    height: 50vh;
    margin: 25vh 0 0 15vw;
    background-image: url('../img/bg-2.jpg');
    @include prefix(background-size, cover);
  }

}
@media screen and (max-width: 790px){
  #p5{
    .container{
      padding: 35vh 6vh;
      position: relative;
    }
  }
}