@mixin prefix($command, $val) {
  #{$command}: $val;
  -moz-#{$command}: $val;
  -webkit-#{$command}: $val;
}
@media screen and (min-width: 790px){
  #p4{
    .container{
      display: none;
      .section:first-child{
        height: 100%;
        width: 40%;
      }
    } 
  }
  .section-1-3, .section-5-3{
    top: 50%;    
    margin-top: - (35vw / 2);
    width: 35vw;
    height: 35vw;
  }
  .section-1-3{ 
    left: 15vw;
    .section{
      width: 50%;
      height: 50%;
      color: #000;
      .orgInfo.active{
        color: #fff;
        background: rgba(0,0,0,0);
      }
    }
    .orgDetail{
      width: 40vw;
      height: 100vh;
      top: 0;
      left: 40vw;
      padding: 10vw;
    }
  }
  .section-5-3{
    left: 50vw;   
    background-image: url('../img/bg-2.jpg');
    @include prefix(background-size, cover);
  }
  .section-5-3.active{
    left: 15vw;
  }
}

@media screen and (max-width: 790px){
  #p4{
    .container{
      // .section:first-child{
      //   height: 100%;
      //   width: 40%;
      // }
      // .section{
      //   width: 30%;
      //   height: 50%;
      // }
    } 
  }
}