@mixin prefix($command, $val) {
  #{$command}: $val;
  -moz-#{$command}: $val;
  -webkit-#{$command}: $val;
}
@media screen and (min-width: 790px){
  #p2{
    // background-image: url('../img/bg-2.jpg');
    @include prefix(background-size, cover);
    left: 100vw;
    div{
      float: left;
    }
    .left{
      display: none;
    }
  }
  .section-1-1{

    // @keyframes p2_right {
    //   from{margin-right: -50vw;}
    //   to{margin-right: 0;}
    // }
    right: 0;    
    // #right-box{
      // @include prefix(animation, p2_right 1s ease)
      width: 40vw;
      height: 100vh;
      background: #ccb0a1;
      background-image: url('../img/bg-2.jpg');
      @include prefix(background-size, cover);
      @include prefix(background-position, 0 0);
    // }

  }

  .section-5-1{
    @include prefix(animation, textanime 1.5s ease )
    width: 60vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 20vh 15vw;
    line-height: 2.2;
    text-align: justify;
  }

}

@media screen and (max-width: 790px){

  #p2{
    .left{      
      h1{display: none;}
      width: 82vw;
      left: 5vw;
      top: 14vh;
      position: absolute;
      background: #ac9e9d;
      padding: 14vh 8vw 2vh 8vw;
      box-sizing: border-box;
      line-height: 2;
      text-align: justify;
      color: #fff;
    }
    .right{
      #right-box{
        width: 80vw;
        height: 20vh;
        position: absolute;
        top: 8vh;
        left: 10vw;
        background-image: url('../img/bg-2.jpg');
        @include prefix(background-size, cover);
        @include prefix(background-position, 0% 0);
        z-index: 1;
      }
    }
  }
}